<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ubx.www/ch/OpenAir" 
       class = "www.ubx.ch.openAir.OpenAirPackage"
       genModel = "www/ubx/ch/OpenAir.genmodel" /> 
	
  </extension>





</plugin>
